<div id="<%= dom_id disciplina %>">
  <p>
    <strong>Nome:</strong>
    <%= disciplina.nome %>
  </p>

  <p>
    <strong>Ano Letivo:</strong>
    <%= disciplina.ano_letivo %>
  </p>

  <p>
    <strong>Turma:</strong>
    <%= disciplina.turma.letra_turma %>
  </p>

  <p>
    <strong>Ano:</strong>
    <%= disciplina.turma.ano %>
  </p>

  <p>
    <strong>Ano Letivo Turma:</strong>
    <%= disciplina.turma.ano_letivo %>
  </p>

</div>
