<div id="<%= dom_id aluno %>">
  <p>
    <strong>Nome:</strong>
    <%= aluno.nome %>
  </p>

  <p>
    <strong>Turma:</strong>
    <%= aluno.turma.letra_turma %>
  </p>

  <p>
    <strong>Ano:</strong>
    <%= aluno.turma.ano %>
  </p>

  <p>
    <strong>Ano Letivo Turma:</strong>
    <%= aluno.turma.ano_letivo %>
  </p>

</div>
