<div id="<%= dom_id atividade %>">
  <p>
    <strong>Titulo:</strong>
    <%= atividade.titulo %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= atividade.descricao %>
  </p>

  <p>
    <strong>Bimestre:</strong>
    <%= atividade.bimestre %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= atividade.data %>
  </p>

  <p>
    <strong>Disciplina:</strong>
    <%= atividade.disciplina.nome %>
  </p>

  <p>
    <strong> Ano Letivo:</strong>
    <%= atividade.disciplina.ano_letivo %>
  </p>

  <p>
    <strong>Turma:</strong>
    <%= atividade.disciplina.turma.letra_turma %>
  </p>

  <p>
    <strong>Ano Turma:</strong>
    <%= atividade.disciplina.turma.ano %>
  </p>

  <p>
    <strong>Ano Letivo Turma:</strong>
    <%= atividade.disciplina.turma.ano_letivo %>
  </p>

</div>
