<div id="<%= dom_id atividade %>">
  <p>
    <strong>Titulo:</strong>
    <%= atividade.titulo %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= atividade.descricao %>
  </p>

  <p>
    <strong>Bimestre:</strong>
    <%= atividade.bimestre %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= atividade.data %>
  </p>

</div>
